In [1]:
# Import dependencies
import pandas as pd
import numpy as np
# import shutup; shutup.please()
from decimal import Decimal
from fractions import Fraction

## Extract the Data

In [2]:
#read in each csv and calculate the average daily stock for each index
Dow_df = pd.read_csv('../csv/Dow_Jones_daily.csv')
Dow_df["Average_Dow"]= Dow_df[[" Open_Dow"," Close_Dow"]].mean(axis=1)
Nasdaq_df= pd.read_csv('../csv/Nasdaq_daily.csv')
Nasdaq_df["Average_Nasdaq"]= Nasdaq_df[[" Open_Nasdaq"," Close_Nasdaq"]].mean(axis=1)
sp_df = pd.read_csv('../csv/S&P_daily.csv')
sp_df["Average_S&P"]= sp_df[[" Open_S&P"," Close_S&P"]].mean(axis=1)

In [97]:
#Merge all three DFs
import functools as ft
dfs= [Dow_df,Nasdaq_df,sp_df]
indexes= ft.reduce(lambda left, right: pd.merge(left, right, on='Date'), dfs)
indexes

,Date,Open_Dow,High_Dow,Low_Dow,Close_Dow,Average_Dow,Open_Nasdaq,High_Nasdaq,Low_Nasdaq,Close_Nasdaq,Average_Nasdaq,Open_S&P,High_S&P,Low_S&P,Close_S&P,Average_S&P
0,8/22/23,44048.41,44052.77,43704.59,43746.74,43897.575,13593.94,13598.76,13484.38,13505.87,13549.905,4415.33,4418.59,4382.77,4387.55,4401.440
1,8/21/23,43714.83,43954.95,43495.57,43873.30,43794.065,13347.26,13516.86,13325.59,13497.59,13422.425,4380.28,4407.55,4360.30,4399.77,4390.025
2,8/18/23,43226.74,43724.70,43226.74,43606.81,43416.775,13190.02,13335.87,13161.76,13290.78,13240.400,4344.88,4381.82,4335.31,4369.71,4357.295
3,8/17/23,44076.54,44106.83,43535.83,43582.21,43829.375,13527.30,13535.09,13303.44,13316.93,13422.115,4416.32,4421.17,4364.83,4370.36,4393.340
4,8/16/23,44236.07,44422.74,43945.35,43951.78,44093.925,13593.17,13644.32,13473.03,13474.63,13533.900,4433.79,4449.95,4403.55,4404.33,4419.060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,1/8/08,14181.98,14328.19,13901.54,13915.82,14048.900,2508.00,2527.42,2440.51,2440.51,2474.255,1422.15,1430.28,1388.30,1390.19,1406.170
3932,1/7/08,14154.51,14265.25,14051.74,14181.97,14168.240,2513.10,2521.62,2471.23,2499.46,2506.280,1417.97,1423.87,1403.45,1416.18,1417.075
3933,1/4/08,14154.51,14524.53,14150.16,14154.51,14154.510,2571.08,2571.08,2502.68,2504.65,2537.865,1411.63,1444.01,1411.19,1411.63,1411.630
3934,1/3/08,14524.54,14632.08,14494.32,14524.54,14524.540,2612.40,2624.27,2592.18,2602.68,2607.540,1447.16,1456.80,1443.73,1447.16,1447.160
3935,1/2/08,14547.08,14788.31,14493.37,14547.08,14547.080,2653.24,2661.50,2597.81,2609.63,2631.435,1447.16,1471.77,1442.07,1447.16,1447.160

In [98]:
#out of curiosity find the maximul of all the data and drop the date (as this isn't needed)
max = indexes.max()
indexes_max = pd.DataFrame(max)
indexes_max=indexes_max.drop(["Date"])
indexes_max

                       0
 Open_Dow       49060.58
 High_Dow       49145.48
 Low_Dow        48766.77
 Close_Dow      48929.18
Average_Dow      48953.3
 Open_Nasdaq    16120.92
 High_Nasdaq    16212.23
 Low_Nasdaq     16017.23
 Close_Nasdaq   16057.44
Average_Nasdaq   16049.8
 Open_S&P        4804.51
 High_S&P        4818.62
 Low_S&P         4780.04
 Close_S&P       4796.56
Average_S&P     4799.025

In [103]:
# read in the macroeconomic data 
fedfunds_df = pd.read_csv('../csv/FedFundsDaily.csv')
inflation_df = pd.read_csv('../csv/InflationRateDaily.csv')
#merge the two and drop nan data 
macro = pd.merge(fedfunds_df,inflation_df, on= "Date", how= "left")
macro.dropna(inplace=True)
#save as csv
macro.to_csv('CleanedCSVs/Macroeconomics.csv')
macro

         Date   DFF Inflation_Rate
1      1/2/08  4.11           2.32
2      1/3/08  4.25           2.33
3      1/4/08  4.18           2.32
6      1/7/08  4.27           2.29
7      1/8/08  4.27           2.29
...       ...   ...            ...
5706  8/16/23  5.33           2.32
5707  8/17/23  5.33           2.33
5708  8/18/23  5.33           2.32
5711  8/21/23  5.33           2.34
5712  8/22/23  5.33           2.35

[4080 rows x 3 columns]

In [102]:
#merge the macroeconomic data to our stoc indexing fsys 
macro_index = pd.merge(macro,indexes,on="Date", how= "left")
macro_index=macro_index.dropna()
macro_index.round(3)
macro_index.to_csv('CleanedCSVs/StockIndexeswithMacroEconomic.csv')
macro_index

,Date,DFF,Inflation_Rate,Open_Dow,High_Dow,Low_Dow,Close_Dow,Average_Dow,Open_Nasdaq,High_Nasdaq,Low_Nasdaq,Close_Nasdaq,Average_Nasdaq,Open_S&P,High_S&P,Low_S&P,Close_S&P,Average_S&P
0,1/2/08,4.11,2.32,14547.08,14788.31,14493.37,14547.08,14547.080,2653.24,2661.50,2597.81,2609.63,2631.435,1447.16,1471.77,1442.07,1447.16,1447.160
1,1/3/08,4.25,2.33,14524.54,14632.08,14494.32,14524.54,14524.540,2612.40,2624.27,2592.18,2602.68,2607.540,1447.16,1456.80,1443.73,1447.16,1447.160
2,1/4/08,4.18,2.32,14154.51,14524.53,14150.16,14154.51,14154.510,2571.08,2571.08,2502.68,2504.65,2537.865,1411.63,1444.01,1411.19,1411.63,1411.630
3,1/7/08,4.27,2.29,14154.51,14265.25,14051.74,14181.97,14168.240,2513.10,2521.62,2471.23,2499.46,2506.280,1417.97,1423.87,1403.45,1416.18,1417.075
4,1/8/08,4.27,2.29,14181.98,14328.19,13901.54,13915.82,14048.900,2508.00,2527.42,2440.51,2440.51,2474.255,1422.15,1430.28,1388.30,1390.19,1406.170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4075,8/16/23,5.33,2.32,44236.07,44422.74,43945.35,43951.78,44093.925,13593.17,13644.32,13473.03,13474.63,13533.900,4433.79,4449.95,4403.55,4404.33,4419.060
4076,8/17/23,5.33,2.33,44076.54,44106.83,43535.83,43582.21,43829.375,13527.30,13535.09,13303.44,13316.93,13422.115,4416.32,4421.17,4364.83,4370.36,4393.340
4077,8/18/23,5.33,2.32,43226.74,43724.70,43226.74,43606.81,43416.775,13190.02,13335.87,13161.76,13290.78,13240.400,4344.88,4381.82,4335.31,4369.71,4357.295
4078,8/21/23,5.33,2.34,43714.83,43954.95,43495.57,43873.30,43794.065,13347.26,13516.86,13325.59,13497.59,13422.425,4380.28,4407.55,4360.30,4399.77,4390.025
4079,8/22/23,5.33,2.35,44048.41,44052.77,43704.59,43746.74,43897.575,13593.94,13598.76,13484.38,13505.87,13549.905,4415.33,4418.59,4382.77,4387.55,4401.440

In [ ]:
#check that they all the same data 
macro_index.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3936 entries, 0 to 4079
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3936 non-null   object
 1   DFF             3936 non-null   float64
 2   Inflation_Rate  3936 non-null   object
 3   Average_Dow     3936 non-null   float64
 4   Average_Nasdaq  3936 non-null   float64
 5   Average_S&P     3936 non-null   float64
dtypes: float64(4), object(2)
memory usage: 215.2+ KB

In [19]:
#change everything to float
macro_index= macro_index.apply(pd.to_numeric, errors='coerce')
macro_index.dtypes

Date              float64
DFF               float64
Inflation_Rate    float64
Average_Dow       float64
Average_Nasdaq    float64
Average_S&P       float64
dtype: object

In [ ]:
#REGRESSION ON HOW VIOLTILE THEY ARE TO MACRO ECONOMIC MATTERS 
# create x and y variables
x = city_data_cleaned["Total Airbnb Listing"]
y = city_data_cleaned["Occupancy %"]

# perform linear regression
slope, intercept, r_value, p_value, std_err = linregress(x, y)

# create regression line
regression_line = slope * x + intercept

# create scatter plot
plt.scatter(x, y)
plt.plot(x, regression_line, color="red")
plt.xlabel("Total Airbnb Listing")
plt.ylabel("Occupancy %")
plt.title("Linear Regression of Total Airbnb Listing and Occupancy %")

# display the plot
plt.show()