In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import shutup; shutup.please()
from decimal import Decimal
from fractions import Fraction

## Extract the Data

In [2]:
# Read the data into a Pandas DataFrame
cpi_df = pd.read_csv('csv/CPIAUCSL_Monthly.csv')
dow_df = pd.read_csv('csv/Dow_Jones_daily.csv')
fedfunds_df = pd.read_csv('csv/FedFundsDaily.csv')
inflation_df = pd.read_csv('csv/InflationRateDaily.csv')
nasdaq_df = pd.read_csv('csv/Nasdaq_daily.csv')
sp_df = pd.read_csv('csv/S&P_daily.csv')
unrate_df = pd.read_csv('csv/UNRATE_Monthly.csv')

In [3]:
merged_df_1 = pd.merge(fedfunds_df, dow_df, on="Date", how="left")
merged_df_2 = pd.merge(merged_df_1, inflation_df, on="Date", how="left")
merged_df_3 = pd.merge(merged_df_2, sp_df, on="Date", how="left")
merged_df_4 = pd.merge(merged_df_3, nasdaq_df, on="Date", how="left")
merged_df_5 = merged_df_4.dropna()
merged_df_5

,Date,DFF,Open_Dow,High_Dow,Low_Dow,Close_Dow,Inflation_Rate,Open_S&P,High_S&P,Low_S&P,Close_S&P,Open_Nasdaq,High_Nasdaq,Low_Nasdaq,Close_Nasdaq
1,1/2/08,4.11,14547.08,14788.31,14493.37,14547.08,2.32,1447.16,1471.77,1442.07,1447.16,2653.24,2661.50,2597.81,2609.63
2,1/3/08,4.25,14524.54,14632.08,14494.32,14524.54,2.33,1447.16,1456.80,1443.73,1447.16,2612.40,2624.27,2592.18,2602.68
3,1/4/08,4.18,14154.51,14524.53,14150.16,14154.51,2.32,1411.63,1444.01,1411.19,1411.63,2571.08,2571.08,2502.68,2504.65
6,1/7/08,4.27,14154.51,14265.25,14051.74,14181.97,2.29,1417.97,1423.87,1403.45,1416.18,2513.10,2521.62,2471.23,2499.46
7,1/8/08,4.27,14181.98,14328.19,13901.54,13915.82,2.29,1422.15,1430.28,1388.30,1390.19,2508.00,2527.42,2440.51,2440.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5706,8/16/23,5.33,44236.07,44422.74,43945.35,43951.78,2.32,4433.79,4449.95,4403.55,4404.33,13593.17,13644.32,13473.03,13474.63
5707,8/17/23,5.33,44076.54,44106.83,43535.83,43582.21,2.33,4416.32,4421.17,4364.83,4370.36,13527.30,13535.09,13303.44,13316.93
5708,8/18/23,5.33,43226.74,43724.70,43226.74,43606.81,2.32,4344.88,4381.82,4335.31,4369.71,13190.02,13335.87,13161.76,13290.78
5711,8/21/23,5.33,43714.83,43954.95,43495.57,43873.30,2.34,4380.28,4407.55,4360.30,4399.77,13347.26,13516.86,13325.59,13497.59
5712,8/22/23,5.33,44048.41,44052.77,43704.59,43746.74,2.35,4415.33,4418.59,4382.77,4387.55,13593.94,13598.76,13484.38,13505.87

In [6]:
merged_df_6 = pd.merge(merged_df_5, cpi_df, on="Date", how="left")
merged_df = pd.merge(merged_df_6, unrate_df, on="Date", how="left")
merged_df

,Date,DFF,Open_Dow,High_Dow,Low_Dow,Close_Dow,Inflation_Rate,Open_S&P,High_S&P,Low_S&P,Close_S&P,Open_Nasdaq,High_Nasdaq,Low_Nasdaq,Close_Nasdaq,CPIAUCSL,UNRATE
0,1/2/08,4.11,14547.08,14788.31,14493.37,14547.08,2.32,1447.16,1471.77,1442.07,1447.16,2653.24,2661.50,2597.81,2609.63,NaN,NaN
1,1/3/08,4.25,14524.54,14632.08,14494.32,14524.54,2.33,1447.16,1456.80,1443.73,1447.16,2612.40,2624.27,2592.18,2602.68,NaN,NaN
2,1/4/08,4.18,14154.51,14524.53,14150.16,14154.51,2.32,1411.63,1444.01,1411.19,1411.63,2571.08,2571.08,2502.68,2504.65,NaN,NaN
3,1/7/08,4.27,14154.51,14265.25,14051.74,14181.97,2.29,1417.97,1423.87,1403.45,1416.18,2513.10,2521.62,2471.23,2499.46,NaN,NaN
4,1/8/08,4.27,14181.98,14328.19,13901.54,13915.82,2.29,1422.15,1430.28,1388.30,1390.19,2508.00,2527.42,2440.51,2440.51,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,8/16/23,5.33,44236.07,44422.74,43945.35,43951.78,2.32,4433.79,4449.95,4403.55,4404.33,13593.17,13644.32,13473.03,13474.63,NaN,NaN
3932,8/17/23,5.33,44076.54,44106.83,43535.83,43582.21,2.33,4416.32,4421.17,4364.83,4370.36,13527.30,13535.09,13303.44,13316.93,NaN,NaN
3933,8/18/23,5.33,43226.74,43724.70,43226.74,43606.81,2.32,4344.88,4381.82,4335.31,4369.71,13190.02,13335.87,13161.76,13290.78,NaN,NaN
3934,8/21/23,5.33,43714.83,43954.95,43495.57,43873.30,2.34,4380.28,4407.55,4360.30,4399.77,13347.26,13516.86,13325.59,13497.59,NaN,NaN
3935,8/22/23,5.33,44048.41,44052.77,43704.59,43746.74,2.35,4415.33,4418.59,4382.77,4387.55,13593.94,13598.76,13484.38,13505.87,NaN,NaN

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3936 entries, 0 to 3935
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3936 non-null   object
 1   DFF             3936 non-null   float64
 2    Open_Dow       3936 non-null   float64
 3    High_Dow       3936 non-null   float64
 4    Low_Dow        3936 non-null   float64
 5    Close_Dow      3936 non-null   float64
 6   Inflation_Rate  3936 non-null   object
 7    Open_S&P       3936 non-null   float64
 8    High_S&P       3936 non-null   float64
 9    Low_S&P        3936 non-null   float64
 10   Close_S&P      3936 non-null   float64
 11   Open_Nasdaq    3936 non-null   float64
 12   High_Nasdaq    3936 non-null   float64
 13   Low_Nasdaq     3936 non-null   float64
 14   Close_Nasdaq   3936 non-null   float64
 15  CPIAUCSL        121 non-null    float64
 16  UNRATE          121 non-null    float64
dtypes: float64(15), object(2)
memory usage: 553.5+ KB

In [5]:
merged_df = merged_df.astype({"Date": "datetime64"})
merged_df.dtypes

Date              datetime64[ns]
DFF                      float64
 Open_Dow                float64
 High_Dow                float64
 Low_Dow                 float64
 Close_Dow               float64
Inflation_Rate            object
 Open_S&P                float64
 High_S&P                float64
 Low_S&P                 float64
 Close_S&P               float64
 Open_Nasdaq             float64
 High_Nasdaq             float64
 Low_Nasdaq              float64
 Close_Nasdaq            float64
CPIAUCSL                 float64
UNRATE                   float64
dtype: object